<div id="StartPageView">
    <form>
        <div class="row mb-3">
            <h1 class="col text-center">Enter a room code</h1>
        </div>
        <div class="row">

            <div class="d-flex col justify-content-center roomCodeFields">
                <input class="form-control" type="text" placeholder="_" maxlength="1" required>
                <input class="form-control" type="text" placeholder="_" maxlength="1" required>
                <input class="form-control" type="text" placeholder="_" maxlength="1" required>
                <input class="form-control" type="text" placeholder="_" maxlength="1" required>
                <input class="form-control" type="text" placeholder="_" maxlength="1" required>
                <input class="form-control" type="text" placeholder="_" maxlength="1" required>
            </div>
        </div>
        <div class="row mt-5">
            <button class="btn btn-success col-md-6 mx-auto" type="submit">Create or join a room</button>
        </div>
    </form>
</div>
